* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.wrapper {
    margin-left: 10px;
    background: #FFFFFF;
}

a {
    text-decoration-line: none;
}

@media (min-width: 768px) {
    .wrapper>.header {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        height: 100px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 1px rgba(0, 0, 0, 0.25);
    }
    .wrapper>.header>.show {
        display: none;
    }
    .wrapper>.header>div {
        float: left;
    }
    .wrapper>.header>.link {
        width: 40%;
        padding-left: 10%;
        padding-right: 10%px;
        padding-top: 40px;
    }
    .wrapper>.header>.link>ul {
        list-style: none;
    }
    .wrapper>.header>.link>ul>li {
        float: left;
        margin-left: 5%;
    }
    .wrapper>.header>.link>ul>li>a {
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: #000000;
        font-size: 14px;
    }
    .wrapper>.header>.logo {
        width: 20%;
    }
    .wrapper>.header>.logo>img {
        width: 100%;
        height: 100px;
    }
}

@media(max-width:768px) {
    .wrapper>.header {
        display: flex;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        height: 80px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 1px rgba(0, 0, 0, 0.25);
    }
    .wrapper>.header>.hidden {
        display: none;
    }
    .wrapper>.header>.show {
        display: block;
        margin: 0px auto;
    }
    .wrapper>.header>.show>button {
        border: none;
        background: #FFFFFF;
        margin-top: 20%;
    }
    .wrapper>.header>.logo {
        height: 100%;
    }
    .wrapper>.header>.logo>img {
        height: 100%;
    }
    .wrapper>.content>.row>.food-item-left {
        padding: 0px!important;
    }
    .wrapper>.content>.row>.food-item-right {
        padding: 0px!important;
    }
    .wrapper>.content>div {
        margin: 0px!important;
    }
    .wrapper>footer>.row>.footer-logo {
        text-align: center;
    }
    .wrapper>footer>.row>.footer-address {
        text-align: center;
    }
}

.price {
    color: #F01D1D !important;
}

.wrapper>.banner {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.wrapper>footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    background-color: #FFFAE0;
}

.wrapper>footer>.row>.footer-logo {
    padding-top: 15px;
}

.wrapper>footer>.row>.footer-logo>div:nth-child(1) {
    margin-left: 20px;
}

.wrapper>footer>.row>.footer-logo>div:nth-child(2) {
    margin-left: 20px;
}

.wrapper>footer>.row>.footer-address {
    padding: 50px;
}

.wrapper>footer>.row>.footer-address>.first-child {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 25px;
}

.wrapper>footer>.row>.footer-address>p {
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #000000;
}

.wrapper>footer>.row>.footer-online>img {
    width: 100%;
    padding-top: 15px;
    padding-right: 10px;
}

.wrapper>.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 1px rgba(0, 0, 0, 0.25);
}

.wrapper>.content>.food-item {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25), -1px -1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.wrapper>.content>.food-item>div>.img {
    width: 25%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.wrapper>.content>.food-item>div>.img>img {
    width: 100%;
    height: 130px;
}

.wrapper>.content>.food-item>div>.detail {
    margin-top: 10px;
    float: left;
    width: 25%;
    margin-left: 15px;
}

.wrapper>.content>.food-item>div>.detail>.name {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #000000;
}

.wrapper>.content>.food-item>div>.detail>.amount {
    margin-top: 10px;
}

.wrapper>.content>.food-item>div>.detail>.amount>a {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.wrapper>.content>.food-item>div>.detail>.amount>input {
    width: 100px;
    height: 30px;
    border: 2px solid #727272;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper>.content>.food-item>div>.price {
    float: left;
    width: 25%;
}

.wrapper>.content>.food-item>div>.price>h5 {
    text-align: center;
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.wrapper>.content>.food-item>div>.icon {
    float: right;
    margin-top: 45px;
}

.wrapper>.content>.food-item>div>.icon>img {
    width: 25%;
}

.wrapper>.content>div:nth-child(5) {
    padding-right: 0px;
}

.wrapper>.content>div:nth-child(5)>div {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-top: 20px;
}

.wrapper>.content>div:nth-child(5)>div>div {
    text-align: end;
}

.wrapper>.content>div:nth-child(5)>div>div>h5 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 10px;
}

.wrapper>.content>div:nth-child(5)>div>div:first-child {
    margin-right: 10px;
}

.wrapper>.content>div:nth-child(6) {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 25px;
}

.wrapper>.content>div:nth-child(6)>button {
    width: 100px;
    border: none;
    height: 30px;
    background: #FF6D6D;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .wrapper>.content>.food-item>div>.img {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .wrapper>.content>.food-item>div>.detail {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .wrapper>.content>.food-item>div>.price {
        display: inline-block;
        width: 100%;
        padding: 0px;
    }
    .wrapper>.content>.food-item>div>.price>h5 {
        margin-top: 10px;
        margin-right: 1%;
    }
    .wrapper>.content>.food-item>div>.icon {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    .wrapper>.content>.food-item>div>.icon>img {
        width: 10%;
    }
}